[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
twilio = "*"
pytest = "*"
python-dotenv = "*"
flask-wtf = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.10"

[dev-packages]
